* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  padding: 20px;
}
nav a {
  margin: 5px 20px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
nav a:hover{
  color: blue;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 193px;
}
h1 {
  font-size: 67px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(71, 80, 255);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search {
  width: 600px;
  padding: 20px;
  margin: 30px;
  border-radius: 50px;
  border-style: solid;
}
#button {
  width: 200px;
  margin-left: 95px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  border-color: rgba(50, 157, 172, 0.479);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
#button1 {
  width: 200px;
  margin-left: 209px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  border-color: rgba(50, 157, 172, 0.479);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
#button:hover {
  background-color: antiquewhite;
  color: rgba(0, 0, 255, 0.479);
}
